@media(max-width: 1200px) {
    .about-img img {
        width: 340px;
    }

    .facts table{
        max-width: 350px;
    }

    .f-desc {
        font-size: 13px;
    }

    .blog-card {
        text-align: start;
    }

    .blog-card img {
        max-width: 300px;        
    }

    .blog-text p {
        max-width: 300px;
    }
}

@media(max-width: 1120px) {
    hr {
        max-width: 1000px;
    }

    .f-nums {
        font-size: 62px;
    }
}

@media(max-width: 1100px) {
    .about-img img {
        width: 300px;
    }

    .s-text p{
        font-size: 13px;
    }

    .s-text h3 {
        font-size: 13px;
    }

    .s-text {
        width: 250px;
    }

    .about p {
        max-width: 1000px;
    }

    .f-desc {
        font-size: 11px;
    }

    .info-view p{
        font-size: 14px;
    }
}

@media(max-width: 1000px) {
    hr {
        max-width: 900px;
    }

    .s-text p{
        font-size: 12px;
    }

    .s-text h3 {
        font-size: 12px;
    }

    .s-text {
        width: 200px;
    }

    .info-view p{
        font-size: 13px;
    }
}

@media(max-width: 970px) {
    .about-img img {
        width: 250px;
    }

    .about p {
        max-width: 850px;
    }

    .blog-card img {
        max-width: 250px;
    }

    .blog-text h1 {
        font-size: 12px;
    }

    .blog-text p {
        font-size: 12px;
        max-width: 250px;
    }

    .f-nums {
        font-size: 52px;
        padding-left: 70px;
    }

    .f-desc {
        font-size: 9px;
        padding-left: 70px;
    }

    .info-view p{
        font-size: 12px;
    }
}

@media(max-width: 900px) {
    hr {
        max-width: 740px;
    }

    .s-text p{
        font-size: 12px;
    }

    .s-text h3 {
        font-size: 12px;
    }

    .s-text {
        width: 180px;
    }

    .info-view p{
        font-size: 11px;
    }
}

@media(max-width: 820px) {
    .head-elem {
        margin-left: 25px;
    }

    .about-img img {
        width: 200px;
    }

    .about p {
        max-width: 650px;
    }

    .blog-card img {
        max-width: 200px;
    }

    .blog-text h1 {
        font-size: 10px;
    }

    .blog-text p {
        font-size: 10px;
        max-width: 200px;
    }

    .s-picture {
        margin: auto 16px;
    }

    .f-nums {
        padding-left: 50px;
    }

    .f-desc {
        padding-left: 50px;
    }

    .info-view p{
        font-size: 10px;
    }
}

@media(max-width: 760px) {
    .about-img {
        display: block;
    }

    .about-img img:nth-child(2), .about-img img:nth-child(3) {
        margin-left: 0;
    }

    .about-img img {
        width: 380px;
        margin-top: 30px;
    }

    .service-blocks {
        display: block;
        text-align: center;
    }

    .s-block {
        justify-content: center;
        margin-top: 50px;
    }

    .s-text p{
        font-size: 15px;
    }

    .s-text h3 {
        font-size: 14px;
    }

    .s-text {
        width: 300px;
    }

    hr {
        max-width: 320px;
    }
    
    .f-img img{
        width: 350px;
        position: relative;
        top: 105px;
    }

    .f-phone {
        position: relative;
        bottom: 180px;
        left: -185px;
    }

    .f-phone img {
        width: 200px;
    }

    .feauture {
        padding-top: 140px;
        margin-bottom: 200px;
    }

    .info-view p{
        font-size: 15px;
    }

    .blog-section {
        display: block;
    }

    .blog-card {
        margin-left: 0;
        text-align: center;
    }

    .blog-card img {
        max-width: 380px
    }

    .blog-text {
        text-align: center;
    }

    .blog-text h1 {
        font-size: 14px;
    }

    .blog-text p {
        font-size: 14px;
        max-width: 300px;
        margin: 20px auto;
    }

    .info-view {
        justify-content: center;
        margin-bottom: 30px;
    }

    footer {
        display: block;
        padding-bottom: 40px;
    }

    .footer-button {
        text-align: center;
        margin: auto;
    }

    .footer-copyright {
        text-align: center;
        margin: auto;
    }

    .open {
        display: flex !important;
    }

    .none {
        overflow: hidden;
    }

    .burger {
        margin-top: 10px;
        margin-left: auto;
        margin-right: 0;
        display: flex;
        position: relative;
        z-index: 50;
        align-items: center;
        width: 30px;
        height: 18px;
    }

    .burger span {
        height: 2px;
        width: 100%;
        transform: scale(1);
        background-color: #fff;
    }

    .burger::before, .burger::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #fff;
        transition: all 0.3s ease 0s;
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger.active span {
        transform: scale(0);
    }

    .burger.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .burger.active::after {
        top: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow: auto;
        text-align: center;
        padding-top: 100px;
        background-color: #000;
        animation: burgerAnimation 0.4s;
    }

    .nav ul {
        flex-direction: column;
        row-gap: 30px;
    }

    @keyframes burgerAnimation {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .about p {
        max-width: 380px;
    }

    .f-nums {
        font-size: 50px;
        padding-left: 30px;
    }

    .f-desc {
        font-size: 9px;
        padding-left: 30px;
    }

    .facts {
        padding: 50px;
    }
}

@media (max-width: 600px) {
    .template {
        font-size: 42px;
    }

    .welcome {
        font-size: 70px;
        max-width: 500px;
    }

    .f-img img{
        width: 250px;
        position: relative;
        top: 117px;
    }

    .f-phone {
        position: relative;
        bottom: 25px;
        left: -100px;
    }

    .f-phone img {
        width: 100px;
    }

    .feauture {
        max-height: 600px;
        padding-top: 80px;
        margin-bottom: 500px;
    }

    .f-nums {
        font-size: 50px;
        padding-left: 30px;
    }

    .f-desc {
        font-size: 9px;
        padding-left: 30px;
    }

    .facts {
        padding: 30px;
    }

    .facts table {
        min-width: 200px;
    }
}

@media (max-width: 520px) {
    
    .f-nums {
        font-size: 30px;
        padding-left: 10px;
    }

    .f-desc {
        font-size: 9px;
        padding-left: 10px;
    }

    .facts {
        padding: 30px;
    }

    .facts table {
        min-width: 150px;
    }
}

@media (max-width: 400px) {
    .template {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .welcome {
        font-size: 50px;
        max-width: 300px;
        line-height: 50px;
    }

    .about p {
        max-width: 300px;
    }

    .about-img img {
        width: 300px;
        margin-top: 10px;
    }

    .f-nums {
        padding-left: 10px;
    }

    .facts {
        padding: 10px;
    }

    .s-text p{
        font-size: 13px;
    }

    .s-text h3 {
        font-size: 12px;
    }

    .s-picture {
        margin: auto 10px;
    }

    hr {
        max-width: 300px;
    }

    .info-view p{
        font-size: 14px;
    }

    .blog-card img {
        max-width: 300px
    }

    .blog-text h1 {
        font-size: 13px;
    }

    .blog-text p {
        font-size: 13px;
        max-width: 300px;
    }

    .info-view p {
        font-size: 14px;
    }
}